<div class="container-fluid mb-3">
  <div class="col">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">
            Register a new author
          </h1>
          <p class="card-subtitle">
            Fill the form and click on register to add it to the authors list
          </p>
          <div class="dropdown-divider mt-3 mb-3"></div>
          <form (ngSubmit)="register()" [formGroup]="registerForm" autocomplete="off">
            <div class="input-group mb-3">
              <span class="input-group-text">Name</span>
              <input class="form-control" formControlName="Name" placeholder="Arthur Conan Doyle" type="text">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text ">Birthdate</span>
              <input class="form-control" formControlName="DayBirthDate" placeholder="Day" type="number">
              <input class="form-control" formControlName="MonthBirthDate" placeholder="Month" type="number">
              <input class="form-control" formControlName="YearBirthDate" placeholder="Year" type="number">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Origin country</span>
              <input
                class="form-control"
                formControlName="OriginCountry"
                placeholder="England"
                type="text">
            </div>
            <div class="dropdown-divider mt-3 mb-3"></div>
            <h5 class="mb-3">Add an author's book</h5>
            <div class="input-group mb-3">
              <span class="input-group-text">Title</span>
              <input class="form-control" formControlName="BookTitle" placeholder="A Study in Scarlet" type="text">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Publishing year</span>
              <input class="form-control" formControlName="BookPublishingYear" placeholder="1887" type="number">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Page quantity</span>
              <input class="form-control" formControlName="BookPageQuantity" placeholder="123" type="number">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Stock quantity</span>
              <input class="form-control" formControlName="BookStockQuantity" placeholder="27" type="number">
            </div>
            <div class="dropdown-divider mt-3 mb-3"></div>
            <div class="input-group mb-3">
              <button class="btn btn-outline-success form-control"
                      [ngClass]="{'disabled btn-outline-warning': registerForm.status == 'INVALID'}">Register author</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
