<nav class="navbar navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img alt="" class="d-inline-block align-text-top" height="30" src="https://img.icons8.com/flat-round/64/000000/book.png"
           width="30">
      Library administration
    </a>
    <form class="d-flex">
      <input [(ngModel)]="author" [ngModelOptions]="{standalone: true}" aria-label="Search" class="form-control me-2"
             placeholder="Author's name" type="text">
      <button (click)="getAuthorsAndBooks(author)" class="btn btn-outline-success">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 col-lg-12">
      <app-author-form (authorListUpdaterEvent)="getAuthorsAndBooks('')"></app-author-form>
    </div>
    <div class="col-xl-7 col-lg-12">
      <app-authors-list [authorBooks]="authorBooksList"></app-authors-list>
    </div>
  </div>
</div>
