<nav class="navbar navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://img.icons8.com/flat-round/64/000000/book.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Library administration
    </a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Author's name" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 col-lg-12">
      <app-author-form></app-author-form>
    </div>
    <div class="col-xl-7 col-lg-12">
      <app-authors-list></app-authors-list>
    </div>
  </div>
</div>
